# SPDX-FileCopyrightText: 2023 Friedrich-Alexander-Universitat Erlangen-Nurnberg
#
# SPDX-License-Identifier: AGPL-3.0-only

version: '3.1'

services:
  jayvee-postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust' # removes requirement for a password
      POSTGRES_DB: 'jvalue'
    ports:
      - 5432:5432
