# SPDX-FileCopyrightText: 2023 Friedrich-Alexander-Universitat Erlangen-Nurnberg
#
# SPDX-License-Identifier: AGPL-3.0-only

legacy-peer-deps=true # Docusaurus is still on React 17, thus we need this option. Remove once docusaurus migrates to React 18.