# SPDX-FileCopyrightText: 2023 Friedrich-Alexander-Universitat Erlangen-Nurnberg
#
# SPDX-License-Identifier: AGPL-3.0-only

# Add files here to ignore them from prettier formatting

/dist
/coverage

/libs/language-server/syntaxes/*.json
/libs/language-server/syntaxes/*.ts
/libs/language-server/src/lib/ast/generated/*.ts

.prettierignore
.docusaurus/

/.nx/cache