/*
 * SPDX-FileCopyrightText: 2023 Friedrich-Alexander-Universitat Erlangen-Nurnberg
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}