name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci

      - name: Langium generate
        run: npm run generate

      - uses: nrwl/nx-set-shas@v3

      - name: Lint Nx specific workspace files
        run: npx nx workspace-lint

      - name: Lint
        run: npx nx affected --target=lint --parallel=3

      - name: Test
        run: npx nx affected --target=test --parallel=3 --base=remotes/origin/main --head=HEAD --ci

      - name: Build
        run: npx nx affected --target=build --parallel=3
